<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>
<body>
<div class="container">

    <div class="row mt-3">

        <div class="col-md-12">
        
          <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand text-white" href="#">E-book</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="about.html">about</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>--->

                  <li class="nav-item">
                    <a class="nav-link text-white" href="contact.html">contact</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link enabled text-white" href="login.html">login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link enabled text-white" href="logout.html">logout</a>
                  </li>

                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
            
        </div><!---product list end ---->
    
        <div class="row mt-5 text-bg-secondary">
        <div class="col-md-4 mt-3">
             <h4>E-book Shopping Pvt Ltd</h4><br>
             <p>4th floor, Krushna complex</p>
             <p>Near to SBI Bank </p>
             <p>Ausa Road</p>
             <p>Latur</p>
        </div>
         
        <div class="col-md-4 mt-3">
          <h4>Quicks Links</h4><br>
          <p><a href="about.html">about</a></p>
          <p><a href="contact.html">contact</a></p>
          <p><a href="index.html">Home</a></p>
        </div>
        
        <div class="col-md-4 mt-3">
          <h4>Connect Us</h4><br>
          <p><a href="https://www.facebook.com">Facebook</a></p>
          <p><a href="htttps://www.kufufm.com">Kufufm</a></p>
    
        </div>
    </div>
    </div>
    <script src="{ static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    </body>
    </html>
    
    