{% load static %}

<div class="row mt-5 text-bg-secondary">

    <div class="col-md-4 mt-3">
         <h4>Ebook Shopping Center Ltd</h4>
         <p>4th floor,Ganesh Complex</p>
         <p>Near to SBI Bank</p>
         <p>Ausa road</p>
         <p>Latur</p>
    </div>


    <div class="col-md-4 mt-3">
        <h4>Visit Links</h4>
        <p><a href="about.html">About</a></p>
        <p><a href="contact.html">Contact</a></p>
        <p><a href="index.html">Home</a></p>
   </div>
   

    <div class="col-md-4 mt-3">
         <h4>Connect Us</h4>
         <p><a href="http://www.facebook.com">Facebook</a></p>
        <p><a href="#">Instagram</a></p>
        <p><a href="#">twitter</a></p>
    </div>
</div>    

<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>