{% extends 'base1.html' %}

{% block 'main' %}

<div class="contaner">
    <div class="row">
        <div class="col-md-6 my-5 mx-auto">
            <form method="POST" action="/login">
                <div class="mb-3">
                    <h1 class="text-center"><strong>Login Form</strong></h1>
                    
                <div class="mb-3">
                    <label for="two" class="form-label"><strong>User Email:</strong></label>
                    <input type="email" class="form-control" id="two" placeholder="Enter the Email-Id">
                 </div>

                 <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><strong>Password:</strong></label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter the Password">
                  </div> 
                 
                
                  <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-success">Login</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock 'main' %}