{% extends 'base1.html' %}

{% block 'main' %}
  <div class="container">
      <div class="row">
          <div class="col-md-6 my-5 mx-auto">
            <form action="">
             {% csrf_token %}  
                <table>
                       {{mform}}
                       <tr>
                        <td><input type="submit" value="Create"></td>
                       </tr>
                </table>
            </form>
            
          </div>
      </div>
  </div>

{% endblock 'main' %}